<html>

<head>
    <title>Dashboard</title>
    <style>
        span {
            color: green;
        }
    </style>
</head>

<body>
    <span>{{ message }}</span>
    <h1>Welcome to the Dashboard! {{ username }}</h1>
    <form method="GET" action="/logout">
        <input type="submit" value="Logout">
    </form>
    <form method="GET" action="/update_email">
        <input type="submit" value="Update Email">
    </form>
    <form method="POST" action="/delete_account">
        <input type="submit" value="Delete Account">
    </form>
</body>

</html>