<html>
    <head>
        <title>Delete Account</title>
        <style>
            span {
                color: green;
            }
        </style>
    </head>
    <body>
        <span>{{ message }}</span>
        <h1>Are you sure you want to delete your account?</h1>
        <form method="POST" action="/delete_account">
            <input type="submit" value="Yes, Delete My Account">
        </form>
        <form method="GET" action="/dashboard">
            <input type="submit" value="No, Take Me Back to Dashboard">
        </form>